/* Reset do CSS */

* {
    box-sizing: border-box;
    outline: none;
}

html,
body,
#wrap {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* Resposividade: cria a unidade responsiva `rem` → 1rem = 16px*/
    font-size: 16px;
}

#wrap {
    margin: auto;    
}

header {
    background-color: #a52a2a;
        
}

header a{
    text-decoration: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    
}

header img {
    display: block;
    width: 4rem;
    height: auto;
    margin-right: 0.5rem;
}

header span {
    flex-grow: 1;
    margin: 0;
    margin-left: 1rem;
    -webkit-text-stroke: .7px white;
    font-size: x-large;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer ul a{
    text-decoration: none;
    color: white;
    font-size: large;
    
}

/*FORM CONTATO*/
#formContato{
    display: table;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

#formContato label{
    display: block;

}

#formContato input, #formContato textarea{
    width: 100%;
    padding: .5rem .1rem;
    border: 2px solid rgb(231, 62, 11);
    border-radius: .3rem;
}

#formContato textarea{
    height: 8rem;
}

#formContato button{
    background-color: rgba(128, 128, 128, 0.288);
    border: none;
    border-radius: .3rem;
    padding: .25rem .5rem;
    pointer-events: none;
}

/* quando o campo esta valido */

#formContato input:valid, #formContato textarea:valid{
    width: 100%;
    padding: .5rem .1rem;
    border: 1px solid rgb(18, 231, 11);
    border-radius: .3rem;
}

/* botao para o formulario valido */

#formContato:valid button{
    pointer-events: all;
    background-color: blue;
}

input::selection {
    background: none; /* Define o fundo como transparente */
    color: inherit; /* Mantém a cor do texto original */
}

/*FORM CONTATO*/

/* Aside */
main aside{
    background-color: #e0e1e271;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main aside div{
    margin-top: 1rem;
    
}
main aside a{
    padding-left: .9rem;
}
/* Aside */

