header{
    background-color: red;
    height: 50%;
}

header img{
    padding: 10px;
    width: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav .item{
    display: flex;
    align-items: center;
}

nav a{
    margin-left: 10px;
}